<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	        http://www.springframework.org/schema/beans    
	        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	        http://www.springframework.org/schema/context
	        http://www.springframework.org/schema/context/spring-context-4.2.xsd
	        http://www.springframework.org/schema/mvc
	        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
	        http://www.springframework.org/schema/tx
	        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	<mvc:annotation-driven />
	<context:annotation-config />
	<mvc:default-servlet-handler />
	<!-- Enable Annotation based Declarative Transaction Management -->
	<!-- <tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager" 
		/> -->
	<context:component-scan base-package="com.crossover.assignment.*" />

	<bean id="onlineTestDBDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/onlineTestDB" />
	</bean>

	<!-- Creating TransactionManager Bean, since JDBC we are creating of type 
		DataSourceTransactionManager <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="searchDBDataSource" /> </bean> -->
	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<!-- <bean id="userLoginDAO" class="com.crossover.assignment.database.dao.impl.UserLoginDAOImpl"> 
		<property name="sessionFactory" ref="sessionFactory" /> </bean> -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="onlineTestDBDataSource" />
		<property name="hibernateProperties">
			<value>hibernate.dialect=org.hibernate.dialect.MySQLDialect
				show_sql=true
			</value>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/crossover/assignment/database/model/User.hbm.xml</value>
				<value>com/crossover/assignment/database/model/UserTest.hbm.xml
				</value>
				<value>com/crossover/assignment/database/model/Choice.hbm.xml
				</value>
				<value>com/crossover/assignment/database/model/Grade.hbm.xml</value>
				<value>com/crossover/assignment/database/model/Question.hbm.xml
				</value>
				<value>com/crossover/assignment/database/model/QuestionChoice.hbm.xml
				</value>
				<value>com/crossover/assignment/database/model/Test.hbm.xml</value>
				<!-- <value>com/crossover/assignment/database/model/TestAttempt.hbm.xml 
					</value> -->
				<value>com/crossover/assignment/database/model/TestQuestion.hbm.xml
				</value>
			</list>
		</property>
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
	</bean>

	<bean id="dozerMapper" class="org.dozer.DozerBeanMapper" />

</beans>